<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="date=no">

    <title>That Looks Neat</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css' data-embed="true">


    <link rel="stylesheet" href="./style.css" data-embed="true">

    <!--[if mso]>
      <style>
        h1, h2, h3, h4, p, a {
          font-family: Avenir, 'Helvetica Neue', Helvetica, sans-serif !important;
        }

        a {
          border-bottom: none;
          text-decoration: underline;
        }
      </style>
    <![endif]-->

  </head>


  <!-- Visible Content -->
  <body>
    <table class="body">
      <tr>
        <td align="center" valign="top">
          <center>

            <table class="container">
              <tr>
                <td align="center">

                  <!-- Start Logo Header -->
                  <table width="100%" class="logo-header-table">
                    <tr>
                      <td class="logo-header" align="center">
                        <a align="center" href="https://thatlooksne.at" target="_blank" class="logo-header__link">
                          <center>
                            <img src="https://gallery.mailchimp.com/b6eaa46f5c2a597c69c116217/images/11bc5629-7e56-4fda-8c55-ad2a927963e4.png" alt="That Looks Neat" class="logo-header__image">
                          </center>
                        </a>
                      </td>
                    </tr>
                  </table>
                  <!-- End Logo Header -->

                </td>
              </tr>


              <tr>
                <td align="center" class="email-content-container" bgcolor="#97D0DD">
                  <table width="100%">

                    <tr>
                      <td align="center" class="email-header">
                        <!-- Start Email Header -->
                        <table width="100%">
                          <tr>
                            <td align="left" class="email-header__issue-no">
                              <h2>Issue: {{ issue_no }}</h2>
                            </td>
                            <td align="right" class="email-header__issue-date">
                              <p class="issue-date">
                                <span class="issue-date--ios-fix">*|DATE:d.m.y|*</span>
                              </p>
                            </td>
                          </tr>
                        </table>
                        <!-- End Email Header -->
                      </td>
                    </tr>


                    <tr>
                      <td align="center">
                        <!-- Start Email Intro -->
                        <table width="100%" bgcolor="#FBFFFB">
                          <tr>
                            <td align="center" class="intro-container" mc:edit="issue_intro">
                              {{{ intro }}}
                            </td>
                          </tr>
                        </table>
                        <!-- End Email Intro -->
                      </td>
                    </tr>


                    <tr>
                      <td align="center">
                        <!-- Start Email Intro -->
                        <table width="100%" bgcolor="#FBFFFB" class="intro-banner-table">
                          <tr>
                            <td align="center" class="intro-banner">
                              <h3>In this weeks issue:</h3>
                            </td>
                          </tr>
                        </table>
                        <!-- End Email Intro -->
                      </td>
                    </tr>



                    <!-- Begin Repeatable Section -->
                    {{#each items}}
                    <tr>
                      <td align="center" class="issue-item">
                        <!-- Start Issue Item -->
                        <table width="100%">
                          <tr>
                            <td align="center">

                              <!-- Start Issue Item Image -->
                              {{#if image}}
                              <table width="100%">
                                <tr>
                                  <td align="center" class="item-image">
                                    <img src="{{ image }}" alt="">
                                  </td>
                                </tr>
                              </table>
                              {{/if}}
                              <!-- End Issue Item Image -->

                              <!-- Start Issue Item Details -->
                              <table width="100%">
                                <tr>
                                  <td align="center" bgcolor="#FFFFFF" class="item-no" width="50">
                                    <p>{{inc @index}}</p>
                                  </td>

                                  <td align="left" class="item-details">
                                    <h3 class="issue-item-title">
                                      <a href="{{ link }}">{{ title }}</a>
                                    </h3>
                                    <h4>{{ tagline }}</h4>
                                  </td>

                                </tr>
                              </table>
                              <!-- End Issue Item Details -->

                              <!-- Start Issue Item Description -->
                              <table width="100%">
                                <tr>
                                  <td align="center" class="item-description">
                                    <p>{{ description }}</p>
                                  </td>
                                </tr>
                              </table>
                              <!-- End Issue Item Description -->

                            </td>
                          </tr>
                        </table>
                        <!-- End Issues Item -->
                      </td>
                    </tr>
                    {{/each}}
                    <!-- End Repeatable Section -->


                    <tr>
                      <td align="center" class="issue-track">
                        <!-- Start Issue Track -->
                        <table width="100%">
                          <tr>
                            <td align="center" bgcolor="#FFFFFF" width="50" class="item-no track-icon">
                              <center>
                                <img src="https://gallery.mailchimp.com/b6eaa46f5c2a597c69c116217/images/b1bff378-2aa3-4e51-a40f-d544d99fced8.jpg" alt="This Weeks Track">
                              </center>
                            </td>

                            <td align="left" class="item-details track-details">
                              <h3 class="issue-track-title">
                                <a href="{{ track.link }}">{{ track.title }}</a>
                              </h3>
                            </td>
                          </tr>
                        </table>

                        <table width="100%">
                          <tr>
                            <td align="center" class="item-description">
                              <p>{{ track.description }}</p>
                            </td>
                          </tr>
                        </table>
                        <!-- End Issue Track -->
                      </td>
                    </tr>


                    <!-- Start Email Actions -->
                    <tr>
                      <td align="center" class="issue-actions" bgcolor="#FBFFFB">
                        <table width="100%">
                          <tr>
                            <td align="left" width="50%">
                              <a href="*|ARCHIVE|*">View the web version</a>
                            </td>

                            <td align="right" width="50%" class="unsubscribe">
                              <a href="*|UNSUB|*">Unsubscribe</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- End Email Actions -->




                  </table>
                </td>
              </tr>

              <!-- Start Email Footer -->
              <tr>
                <td align="center" class="email-footer">
                  <p>That Looks Neat is made by Sam Mason, 33 Montague Court, St.Clements Street, N78BG.</p>
                  <p>*|REWARDS|*</p>
                </td>
              </tr>
              <!-- End Email Footer -->


            </table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>